:root {
    --palette-beige: #FBE8A6;
    --palette-blue: #303C6C;
    --palette-lightblue: #B4DFE5;
    --palette-cyan: #D2FDFF;
    --palette-orange: #F4976C;
    --palette-black: black;
    --palette-white: white;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--palette-black);
}

svg#sheet {
    cursor: pointer;
}

svg#sheet:hover{
    width: 50px;
    height:50px;
}

/* =ErrorDisplay
 --------------------------------------------- */
.error-container {
    display: flex;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    position: absolute;
    left: -105%;
    bottom: -105%;
    transform: translate(0, 0);
    transition: transform 0.3s linear;
}

.error-container.error-show {
    transform: translate(5%, 5%);
    transition: transform 0.3s linear;
}
